<div class="container">
    <h1>Tiling Job</h1>
    <form (ngSubmit)="onSubmit()" #jobForm="ngForm">
      <div class="form-group">
        <label for="layer_id">Layer Id</label>
        <input type="text" class="form-control" id="layer_id" required  [(ngModel)]="model.layer_id" name="layer_id" #spy>
      </div>     
        
      <div class="form-group">
        <label for="res_low">Lowest Resolution</label>
        <input type="text" class="form-control" id="res_low" required [(ngModel)]="model.res_low" name="res_low">
      </div>

      <div class="form-group">
        <label for="res_high">High Resolution</label>
        <input type="text" class="form-control" id="res_high" required [(ngModel)]="model.res_high" name="res_high">
      </div>
      
      <div class="form-group">
        <label for="timestamp">Timestamp</label>
        <input type="text" class="form-control" id="timestamp" required [(ngModel)]="model.timestamp" name="timestamp">
      </div>
      
      <div class="form-group">
        <label for="extension">Extension</label>
        <select class="form-control" id="extension" required [(ngModel)]="model.extension" name="extension">
             <option *ngFor="let extension of extensions" [value]="extension">{{extension}}</option>
        </select>      
      </div>
          
      <div class="form-group">
        <label for="srid">SRID</label>
         <select class="form-control" id="srid" required [(ngModel)]="model.srid" name="srid">
             <option *ngFor="let srid of srids" [value]="srid">{{srid}}</option>
        </select>      
      </div>
        
      <div class="form-group">
        <label for="bbox_minx">Bounding Box</label>
        <input type="text" class="form-control" id="bbox_minx" required [(ngModel)]="model.bbox_minx" name="bbox_minx">
        <input type="text" class="form-control" id="bbox_miny" required [(ngModel)]="model.bbox_miny" name="bbox_miny">
        <input type="text" class="form-control" id="bbox_maxx" required [(ngModel)]="model.bbox_maxx" name="bbox_maxx">
        <input type="text" class="form-control" id="bbox_maxy" required [(ngModel)]="model.bbox_maxy" name="bbox_maxy">
      </div>

      <!-- <iframe src="https://wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857.jpeg"></iframe> -->
      <div id="map" class="map"></div>
      <input type="submit" class="btn btn-default" id="submit" value="Submit" /> 
    </form>
</div>

